/* Display geral das informações de usuário */
.display_info_user {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
    margin: 0 20px 0 20px;
    /* border: 1px solid green; */
}

/* Usuário inválido */
.display_info_user .shrug {
    transform: scale(2);
    /* border: 2px solid rgb(12, 2, 29); */
    border-radius: 50%;
}

/* Usuário válido */
.box_avatar {
    margin: 0;
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(12, 2, 29);
    height: 180px;
    width: 180px;
}

.box_name_button{
    height: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.box_name_button .name_box {
    text-align: center;
    margin-top: 0.5rem;
    font-weight: 500;
    font-size: large;
}

.box_name_button .button_box {
    margin-top: 1em;
    text-align: center;
    filter: invert(0);
}

.not_found {
    filter: invert(1);
    background-color: rgb(163, 163, 163);
    border-radius: 50%;
}

/* Carregando usuário */
.pesquisando-user {
    width: 180px;
    height: 180px;
}

.name_box-carregando{
    text-align: center;
    margin-top: 0.5rem;
    font-weight: 500;
    font-size: large;
    background-color: rgb(194, 194, 194);
    border-radius: 15px;
    height: 1.36em;
}

.button-carregando{
    width: 108.17px;
    height: 34.5px;
    border: 1px solid currentColor;
    color: inherit;
    border-radius: 4px;
    background-color: rgb(221, 221, 221);
}



/* Responsividade */
@media only screen and (max-width: 700px) {
    .display_info_user {
        flex-direction: row;
        margin: 20px 0 0 0;
        width: 100%;
    }
    .box_name_button{
        height: 180px;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .button_box {
        margin-top: 0;
    }
}

@media only screen and (max-width: 440px) {
    .display_info_user {
        flex-direction: column;
        width: 100%;
    }
    .box_name_button{
        margin-top: 10px;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
    }
}