/* Estilização do layout geral da página de detalhes */

.layout_detalhes {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 0px 10px 20px 10px;
    width: 100%;
    border: 1px solid;
}

/* Estilização da lista de informações */

.lista_detalhes_box {
    border: 1px solid;
    margin: 0 0 0 0px;
    width: auto;
}

.lista_detalhes {
    margin: 0 0 0 0;
    padding: 0px;
    list-style-type: none;
    border: 1px solid rgb(6, 2, 29); 
    color: rgb(0, 0, 0);
}

/* Estilização do card de imagem */

.imagem_detalhes_box {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 25px 25px 0 25px ;
    width: 285px;
    border-right: 1px solid;
    height: 500px;
}

.box_avatar_redondo{
    border-radius: 50%;
    /* transition: 600ms; */
}

/* .box_avatar_redondo:hover{
    transform: scale(1.02);
    transition: 600ms;
} */

.imagem_detalhes_card {
    display: flex;
    height: 80%;
    flex-direction: column;
    align-items: flex-start;
}

.imagem_detalhes_card .box_name_login{
    display: flex;
    flex-direction: column;
}

.box_name_login .name {
    font-weight: 500;
    font-size: 1.5rem;
    padding-top: 10px;
}

.box_name_login .login {
    font-weight: 300;
    font-size: 1.3rem;
    padding-top: 0px;
    color: rgb(90, 90, 90);
}

.box_follow {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 300;
}

.box_follow span {
    font-weight: 700;
}

.imagem_detalhes {
    border: 2px solid rgb(12, 2, 29); 
    display: block;
}

.id_user {
    margin-top: auto;
    font-weight: 500;
    color: rgb(117, 117, 117);
    margin-bottom: 1rem;
}