nav > h1 {
    color: #FFF;
    margin-left: 10px;
    margin-right: 10px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background-color: #b3b3b3;
}
