/* Estilos gerais da NavBar */

nav h1 {
    text-decoration: none;
    color: #FFF;
    margin-left: 10px;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: rgb(12, 2, 29);    
}

/* Barra de pesquisa */

.nav-search {
    width: 60%;
}

nav .form {
    margin-left: auto;
    margin-right: 0rem;
    padding-right: 1.5rem;
}

nav .form .search {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 4px;
}

/* Efeito de gradiente */

.barrinha_nav {
    padding-bottom:8px;
    background:
    linear-gradient(
      to bottom, 
      rgb(12, 2, 29) 50%,
      rgb(255, 255, 255)
    )
    no-repeat; 
    background-size:100% 8px;
}