/* Links da NavBar */

.nav-links{
    display: flex;
    align-items: center;
    width: fit-content;
    margin-right: auto;
}

.nav-links-item{
    display: flex;
    align-items: center;
    padding: 0px 0px;
}

.nav-links-item:not(:last-child)::after {
    content: "|";
    color: #FFF;
}

@media only screen and (max-width: 500px){
    .nav-links-item:not(:last-child)::after {
        content: "";
        color: #FFF;
    }
    .drop {
        display: none;
    }
}