.Rodape {
    background-color: rgb(12, 2, 29);
    justify-content: center;
    height: 150px;
    display: flex;
    color: aliceblue;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: center;
}

.footer_text {
  font-weight: 500;
  margin-bottom: 2rem;
}

.footer_git-icon {
  border-radius: 50%;
  filter: invert(1);
}

.barrinha_footer{
        padding-top: 5px;
        background:
        linear-gradient(
          to top,           
          rgb(12, 2, 29) 50%,
          rgb(255, 255, 255)
        )
        no-repeat; 
        background-size:100% 6px;
}